<div class="component">
  <h3>Notification Templates</h3>
  <mat-progress-bar class="progress" *ngIf="templates.length === 0" mode="indeterminate"></mat-progress-bar>
  <pre *ngIf="templates.length !== 0" class="pre-grey" >{{ templates | json }}</pre>
  <form #myForm="ngForm">
    <div class="form-group">
      <textarea id="notification" class="form-control" required [(ngModel)]="notificationRequest" 
        name="notification" #notification="ngModel">
      </textarea>
    </div>
    <div class="pull-right">
      <button [disabled]="!myForm.form.valid || !enableButton" (click)="sendNotification()" mat-raised-button color="primary">Send Notification</button>
    </div>
  </form>
</div>