<div class="component">
  <h3>Application Form</h3>
  <img class="angular-logo" src="../assets/angular-logo.svg" alt="angular-logo">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="offer-form">
    <div>
      <mat-form-field>
        <mat-label>Country of Residence *</mat-label>
        <select matNativeControl formControlName="countryControl" (change)="onCountrySelected($event)">
          <option *ngFor="let country of countries" [value]="country.countryCode">{{ country.countryName }}</option>
        </select>
        <mat-error *ngIf="myForm.get('countryControl')?.hasError('required')">
          Country of residence is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field [hidden]="!isAU">
        <mat-label>State *</mat-label>
        <select matNativeControl formControlName="stateControl">
          <option *ngFor="let state of states" [value]="state.value">{{ state.display }}</option>
        </select>
        <mat-error *ngIf="myForm.get('stateControl')?.hasError('required')">
          State you reside in is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field [hidden]="!isAU" class="form-full-width">
        <mat-label>Postcode *</mat-label>
        <input matInput formControlName="postcodeControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="myForm.get('postcodeControl')?.hasError('required')">
          Postcode is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form-full-width">
        <mat-label>Full Name *</mat-label>
        <input matInput formControlName="fullNameControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="myForm.get('fullNameControl')?.hasError('required')">
          Full Name is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="pull-right">
      <button type="reset" (click)="onReset()" mat-raised-button color="primary">Reset</button>
      <button type="submit" [disabled]="myForm.invalid" mat-raised-button color="primary">Submit</button>
    </div>
    <div *ngIf="offer">
      <pre>{{ offer | json }}</pre>
    </div>
  </form>
</div>