<div class="container component">
  <div>
    <form #customerForm="ngForm" *ngIf="movie">
      <div class="form-group">
        <img *ngIf="movie.poster" [src]="movie.poster" alt="Movie Poster" class="img-fluid" style="max-height: 300px;">
      </div>
      <div class="form-group">
        <input name="title" type="text" class="form-control" [readonly]="true" [ngModel]="movie.title">
      </div>
      <div>
        <pre class="full-profile">{{ movie | json }}</pre>
      </div>
    </form>
  </div>
  <div>
    <h6 *ngIf="!loading && movie == null" class="text-muted">Something went wrong, please try again later...</h6>
    <button class="btn btn-success" [routerLink]="['/starwars']">Back</button>
  </div>
</div>
