<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon><span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/trades" (click)="onSidenavClose()">
    <mat-icon>trending_up</mat-icon><span class="nav-caption">Trades</span>
  </a>
  <a mat-list-item routerLink="/play" (click)="onSidenavClose()">
    <mat-icon>gamepad</mat-icon><span class="nav-caption">Play</span>
  </a>
  <a mat-list-item routerLink="/starwars" (click)="onSidenavClose()">
    <mat-icon>starwars</mat-icon><span class="nav-caption">Starwars</span>
  </a>
  <a mat-list-item routerLink="/offer" (click)="onSidenavClose()">
    <mat-icon>description</mat-icon><span class="nav-caption">Application</span>
  </a>
  <a mat-list-item [matMenuTriggerFor]="files">
    <mat-icon>cloud_upload</mat-icon><span class="nav-caption">File Upload</span>
  </a>
  <a mat-list-item routerLink="/profile" (click)="onSidenavClose()">
    <mat-icon>manage_accounts</mat-icon><span class="nav-caption">Profile</span>
  </a>
  <mat-menu #files="matMenu">
    <button mat-menu-item routerLink="/file" (click)="onSidenavClose()">
      <mat-icon>upload_file</mat-icon><span class="nav-caption">Single File</span>
    </button>
    <button mat-menu-item routerLink="/file/multiple" (click)="onSidenavClose()">
      <mat-icon>upload</mat-icon><span class="nav-caption">Multiple Files</span>
    </button>
  </mat-menu>
</mat-nav-list>